
///////////////////////////////////////////////////////////
// Variables
///////////////////////////////////////////////////////////

/**
 * Colors
 */

// first we set descriptive variables

@c-white: #ffffff;
@c-orange: #F08921;
@c-blue: #2D5893;
@c-grey-light: #efefef;
@c-grey-medium: #dddddd;
@c-grey-dark: #666666;

// then we set functional variables

@c-heading: @c-orange;
@c-copy: @c-grey-dark;

@c-link: @c-blue;
@c-hover: @c-orange;
@c-active: @c-orange;

@c-border: @c-grey-medium;


/*
 * Mediaqueries
 * use: @media (min-width: @desktop-min)
 */

@mobile-max: 667px;

@tablet-min: 668px;
@tablet-med: 846px;
@tablet-max: 1024px;

@desktop-min: 1025px;


/*
 * Spacing
 * - set to whatever you want: @grid-fluid-gutter:, @base-line-height, fixed value
 */

@spacing: 20px;


/*
 * Alpha Vslaues
 */

@alpha-text-color: 0.8;
@alpha-text-shadow: 0.4;
@alpha-background: 0.8;


/*
 * Project
 */

@height-logo-mobile: 60px;
@height-logo-desktop: 90px;



