
///////////////////////////////////////////////////////////
// Typography
///////////////////////////////////////////////////////////

/**
 * Fonts Families
 */

// Valera round

@font-default: 'Varela Round', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Varela+Round);


/**
 * Font-sizes
 */

@giga-size: 5rem;
@mega-size: 4rem;

@h1-size: 32px;
@h2-size: 26px;
@h3-size: 20px;
@h4-size: 18px;

@base-font-size: 16px;
@base-line-height: 28px;
@line-height-ratio: @base-line-height / @base-font-size;

@small-size: 14px;
@micro-size: 10px;


/*
 * Definitions
 */

.giga {
	font-size: @giga-size;
	line-height: @giga-size * @line-height-ratio;
}

.mega {
	font-size: @mega-size;
	line-height: @mega-size * @line-height-ratio;
}

h1, .h1 {
	font-size: @h1-size;
	line-height: @h1-size * @line-height-ratio;
	font-weight: normal;
}

h2, .h2 {
	font-size: @h2-size;
	line-height: @h2-size * @line-height-ratio;
	font-weight: normal;
}

h3, .h3 {
	font-size: @h3-size;
	line-height: @h3-size * @line-height-ratio;
	font-weight: normal;
}

h4, .h4 {
	font-size: @h4-size;
	line-height: @h4-size * @line-height-ratio;
	font-weight: normal;
}

.copy {
	font-size: @base-font-size;
	line-height: @base-line-height;
}

.small {
	font-size: @small-size;
	line-height: @small-size * @line-height-ratio;
}

.micro {
	font-size: @micro-size;
	line-height: @micro-size * @line-height-ratio;
}


/*
 * Selected Text Styling
 */

::selection {
	background: fade(@c-copy, 20%);
}

