
///////////////////////////////////////////////////////////
// Objects
///////////////////////////////////////////////////////////

.button {
	padding: @spacing/4 @spacing/2 @spacing/6 @spacing/2;
	color: @c-copy;
	display: inline-block;
	border-radius: 5px;
	outline: medium none;
	border: 1px solid @c-copy;
	margin-bottom: @spacing;

	&:hover,
	&:active,
	&:focus {
		color: @c-copy;
		text-decoration: none !important; // if the button is inside .richtext
		background-color: rgba(red(@c-copy), green(@c-copy), blue(@c-copy),0.1);
	}
}