
///////////////////////////////////////////////////////////
// Objects
///////////////////////////////////////////////////////////

.button {
	padding: @spacing/2 @spacing;
	color: @c-white;
	display: inline-block;
	border-radius: 5px;
	outline: medium none;
	border: 1px solid @color-white;

	&:hover,
	&:active,
	&:focus {
		color: @c-white;
		text-decoration: none;
		background-color: rgba(255,255,255,0.2);
	}
}