
///////////////////////////////////////////////////////////
// Richtext
///////////////////////////////////////////////////////////

//
// Overwrite Styles for the Tiny MCE Editor (Backend)

html .mceContentBody {
	padding: @spacing !important; // another wp class tries to override this
}

//
// Richtext

.richtext {

	h1, .h1, h1& {
		margin-bottom: @spacing;
	}

	h2, .h2, h2& {
		margin-bottom: @spacing;

		@media (min-width: @tablet-min) {
			margin-bottom: @spacing * 2;
		}
	}

	h3, .h3, h3& {
		margin-bottom: @spacing;

		@media (min-width: @tablet-min) {
			margin-bottom: @spacing * 2;
		}
	}

	h4, .h4, h4& {
		margin-bottom: @spacing;
	}

	hr, blockquote, p, address,
	table,
	fieldset, figure,
	pre {
		margin-bottom: @spacing;
	}

	img {
		.flex();
		margin-bottom: @spacing;
	}

	/**
	 * Lists
	 */
	ul, ol, dd {
		list-style-type: inherit;
		margin-left: @spacing;
		margin-bottom: @spacing;
	}

		li {
			padding-left: 0;
			margin-left: 0;
		}


	/**
	 * Links
	 */

	a:hover {
		text-decoration: underline;
	}

	/**
	 * iFrame
	 * i.e. for YouTube videos
	 */

	iframe {
		max-width: 100%;
	}

	/*
	 * Styling for Wordpress specific classes (Frontend and Backend)
	 */

	.alignleft {
		float: left;
		margin: 0 @spacing 0 0;
	}

	.alignright {
		float: right;
		margin: 0 0 0 @spacing;
	}

	.aligncenter {
		display: block;
		margin: 5px auto;
	}

	img.alignnone {
		margin: 5px 0;
	}

	.wp-caption {
		width: auto !important; // Remove WP width
	}

	.wp-caption-text {
		.small();
		margin-bottom: @spacing;
	}

	.mceTemp + ul,
	.mceTemp + ol  {
		list-style-position: inside;
	}
}