.mod-logo {

	.inner {
		text-align: right;

		@media (min-width: @tablet-med) {
			text-align: left;
		}
	}

		.logo {
			width: 200px;
			height: @heightLogoMobile;

			@media (min-width: @tablet-med) {
				margin: @half-spacing 0;
			}

			@media (min-width: @desktop-min) {
				width: 300px;
				height: @heightLogoDesktop;
			}
		}
}