.mod-logo {

	.col(10);

	@media @m-large-up {
		.col(4);
	}

	text-align: right;

	@media @m-large-up {
		text-align: left;
	}

		.logo {
			width: 200px;
			height: @height-logo-mobile;

			@media @m-large-up {
				margin: @spacing/2 0;
			}

			@media @m-x-large-up {
				width: 300px;
				height: @height-logo-desktop;
			}
		}
}