.skin-main-nav-toggle {

	&:extend(.h2 all);
	padding-top: @spacing/2;

	@media @m-large-down {
		.col(2);
	}

	.mobile-toggle {
		&.active {
			.icon {
				fill: @c-hover;
			}
		}
	}

	@media @m-large-up {
		display: none;
	}
}




