.skin-main-nav-toggle {

	font-size: @h2-size;

	.mobile-toggle {
		line-height: @height-logo-mobile;

		&.active {
			.icon {
				fill: @c-hover;
			}
		}
	}

	@media (min-width: @tablet-med) {
		display: none;
	}
}




