.skin-main-nav-items {

	.col(12);

	@media @m-large-up {
		.col(8);
	}

	.nav-list-l1 {
		.clearfix();
		width: 100%;
		display: none;
		padding-left: 0;

		a {
			.h4();
		}

		@media @m-large-up {
			display: inline-block;
		}

		> li {
			display: block;
			padding: @spacing/2 0;

			@media @m-medium-up {
				display: inline-block;
				margin-right: @spacing;
			}

			@media @m-large-up {
				margin-right: @spacing;
				line-height: @height-logo-mobile;

				&.current_page_item a,
				&.current-menu-item a,
				&:hover a {
					color: @c-hover;
				}
			}

			@media @m-x-large-up {
				line-height: @height-logo-desktop;
			}
		}
	}
}




